 CNFLWT   
 CNFPYL   
 CNFLWL   
 CNFOZL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNXM   
 CNFLWT   
 CNFLWT   
 CNFPQL   
 CNFPTK   
 CNFPTK   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTL   
 CNFPTL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWT   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPQL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWN   
 CNFLWN   
 CNFPTL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFLWN   
 CNFLWN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFLWM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWM   
 CNFLWM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWT   
 CNFLWT   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPYM   
 CNFPYM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPYM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYM   
 CNFPYM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPQL   
 CNFPQL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWT   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWM   
 CNFLWM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYM   
 CNFPYM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWT   
 CNFLWT   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWT   
 CNFLWT   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXM   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWN   
 CNFLWN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPTK   
 CNFPTK   
 CNFLWN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPYN   
 CNFPYN   
 CNFPTK   
 CNFPTK   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPYN   
 CNFPYN   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNZM   
 CNFNZM   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFNZM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPTK   
 CNFPTK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFNXM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNXM   
 CNFNXM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZK   
 CNFNZK   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
Total CNF reports: 738
Total CNF unique IDs: 15
Total CNFL* reports: 238
Total CNFM* reports: 0
Total CNFN* reports: 209
Total CNFO* reports: 20
Total CNFP* reports: 271
Total CNFQ* reports: 0
Total CNFR* reports: 0
