 CNFPTL   
 CNFLWT   
 CNFLWR   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFLWM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWT   
 CNFLWT   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWR   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFLWS   
 CNFLWS   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWS   
 CNFLWS   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNXQ   
 CNFNXQ   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXQ   
 CNFNXQ   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWM   
 CNFLWR   
 CNFLWR   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFQUL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWR   
 CNFLWR   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFOZL   
 CNFOZL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFQUM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWM   
 CNFLWM   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXQ   
 CNFNXQ   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
Total CNF reports: 822
Total CNF unique IDs: 17
Total CNFL* reports: 203
Total CNFM* reports: 0
Total CNFN* reports: 167
Total CNFO* reports: 86
Total CNFP* reports: 276
Total CNFQ* reports: 90
Total CNFR* reports: 0
