 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWL   
 CNFLWL   
 CNFNZM   
 CNFPTK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWS   
 CNFLWS   
 CNFPQK   
 CNFPQK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPQL   
 CNFPQL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNXQ   
 CNFNXQ   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNXQ   
 CNFNXQ   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNXP   
 CNFNXP   
 CNFLWS   
 CNFLWS   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXP   
 CNFNXP   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXQ   
 CNFNXQ   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFNXM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXM   
 CNFNXM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXQ   
 CNFNXQ   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXQ   
 CNFNXQ   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
Total CNF reports: 566
Total CNF unique IDs: 14
Total CNFL* reports: 26
Total CNFM* reports: 0
Total CNFN* reports: 260
Total CNFO* reports: 8
Total CNFP* reports: 227
Total CNFQ* reports: 45
Total CNFR* reports: 0
