 CNFPYL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXP   
 CNFNXP   
 CNFOZM   
 CNFOZM   
 CNFNZM   
 CNFNZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNZK   
 CNFNZK   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNZK   
 CNFNZK   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPTK   
 CNFPTK   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPYN   
 CNFPYN   
 CNFLWR   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPTL   
 CNFPTL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYL   
 CNFPYL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPYL   
 CNFPYL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXN   
 CNFNXN   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTL   
 CNFPTL   
 CNFNXN   
 CNFNXN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPYM   
 CNFPYM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFPYM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPXL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPXL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFPYM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPYM   
 CNFPYM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXN   
 CNFNXN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
Total CNF reports: 836
Total CNF unique IDs: 18
Total CNFL* reports: 122
Total CNFM* reports: 0
Total CNFN* reports: 218
Total CNFO* reports: 122
Total CNFP* reports: 307
Total CNFQ* reports: 67
Total CNFR* reports: 0
