 CNFPYN   
 CNFPQK   
 CNFQUL   
 CNFPYM   
 CNFLWT   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFQUM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFQUL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFLWT   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLZP   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFLZP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLZP   
 CNFLZP   
 CNFNXP   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPXL   
 CNFPXL   
 CNFNXP   
 CNFNXP   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPXL   
 CNFPXL   
 CNFNXM   
 CNFNXM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLZP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
Total CNF reports: 760
Total CNF unique IDs: 17
Total CNFL* reports: 154
Total CNFM* reports: 0
Total CNFN* reports: 272
Total CNFO* reports: 88
Total CNFP* reports: 197
Total CNFQ* reports: 49
Total CNFR* reports: 0
