 CNFPQK   
 CNFPQK   
 CNFLZP   
 CNFLZP   
 CNFOZM   
 CNFLWS   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNZK   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPQL   
 CNFPQL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLZP   
 CNFLZP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPTL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFQUM   
 CNFQUM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFLWS   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXQ   
 CNFNXQ   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFLWS   
 CNFLWS   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXQ   
 CNFLWS   
 CNFLWS   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXQ   
 CNFNXQ   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNZM   
 CNFNZM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFOZM   
 CNFOZM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPXL   
 CNFPXL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPXL   
 CNFPXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
Total CNF reports: 706
Total CNF unique IDs: 17
Total CNFL* reports: 83
Total CNFM* reports: 0
Total CNFN* reports: 180
Total CNFO* reports: 146
Total CNFP* reports: 208
Total CNFQ* reports: 89
Total CNFR* reports: 0
