 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWR   
 CNFLWR   
 CNFQUL   
 CNFQUL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLWN   
 CNFLWN   
 CNFNZM   
 CNFNZM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPYM   
 CNFPYM   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFOZN   
 CNFOZN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWR   
 CNFLWR   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFNXL   
 CNFNXL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXL   
 CNFNXP   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXL   
 CNFNXL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLZP   
 CNFQUL   
 CNFLZP   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLZP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXL   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLZP   
 CNFLZP   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXP   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXL   
 CNFNXL   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFLWN   
 CNFLWN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFQUL   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXP   
 CNFNXP   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXL   
 CNFNXL   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFQUM   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXP   
 CNFNXP   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFLZP   
 CNFLZP   
 CNFOZM   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZM   
 CNFNXL   
 CNFLZP   
 CNFLZP   
 CNFPTK   
 CNFPTK   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFLZP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFNXL   
 CNFOZM   
 CNFOZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZM   
 CNFOZM   
 CNFNXN   
 CNFNXN   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNXL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXL   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFOZM   
 CNFOZM   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFNXL   
 CNFPQK   
 CNFPQK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFOZM   
 CNFOZM   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYN   
 CNFPYN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNXL   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFLZP   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXL   
 CNFNXL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXL   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXL   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXL   
 CNFNXL   
 CNFPYL   
 CNFNXL   
 CNFPYL   
 CNFPYL   
 CNFNXN   
 CNFNXN   
 CNFNXN   
 CNFPYL   
 CNFPYL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFNXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPYL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
Total CNF reports: 979
Total CNF unique IDs: 19
Total CNFL* reports: 83
Total CNFM* reports: 0
Total CNFN* reports: 295
Total CNFO* reports: 189
Total CNFP* reports: 372
Total CNFQ* reports: 40
Total CNFR* reports: 0
