 CNFNXP   
 CNFLWT   
 CNFLWT   
 CNFNXM   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWM   
 CNFLWM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWT   
 CNFLWT   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFLWR   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWR   
 CNFLWR   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWL   
 CNFLWL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPTL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPTL   
 CNFPTL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPTL   
 CNFPTL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWT   
 CNFLWT   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPTL   
 CNFPTL   
 CNFLWL   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPTL   
 CNFPTL   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTL   
 CNFPTL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFLWM   
 CNFLWM   
 CNFLWM   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWN   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWM   
 CNFLWM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTK   
 CNFPTK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPTK   
 CNFPTK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFOZN   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFNXQ   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
 CNFLWN   
Total CNF reports: 695
Total CNF unique IDs: 17
Total CNFL* reports: 192
Total CNFM* reports: 0
Total CNFN* reports: 135
Total CNFO* reports: 90
Total CNFP* reports: 228
Total CNFQ* reports: 50
Total CNFR* reports: 0
