 CNFPQK   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFNXM   
 CNFNXM   
 CNFLWL   
 CNFLWL   
 CNFLWT   
 CNFLWT   
 CNFNZM   
 CNFNZM   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFOZM   
 CNFOZM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQL   
 CNFPQL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQL   
 CNFPQL   
 CNFPYM   
 CNFPYM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXP   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFOZK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXP   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPTK   
 CNFPTK   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPTK   
 CNFPTK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFQUL   
 CNFQUL   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFLWL   
 CNFLWL   
 CNFLWL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYM   
 CNFPYM   
 CNFOZL   
 CNFOZL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPQL   
 CNFPQL   
 CNFPQL   
 CNFPTK   
 CNFPTK   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPQK   
 CNFPQK   
 CNFPQK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPTK   
 CNFPTK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTK   
 CNFPTK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFOZL   
 CNFOZL   
 CNFOZL   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFQUL   
 CNFQUL   
 CNFQUL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYM   
 CNFPYM   
 CNFPYM   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXL   
 CNFNZK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXL   
 CNFNXL   
 CNFPTL   
 CNFPTL   
 CNFPTL   
 CNFNXL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZK   
 CNFNZK   
 CNFNZK   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNXL   
 CNFNXL   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNXL   
 CNFNXL   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXL   
 CNFNXL   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFLWT   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFNZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFQUM   
 CNFNXM   
 CNFQUM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFOZM   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFPTK   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFPYN   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFPXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXP   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXL   
 CNFNXL   
 CNFNXL   
 CNFNXP   
 CNFNXP   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
 CNFNXM   
Total CNF reports: 795
Total CNF unique IDs: 19
Total CNFL* reports: 60
Total CNFM* reports: 0
Total CNFN* reports: 326
Total CNFO* reports: 78
Total CNFP* reports: 276
Total CNFQ* reports: 55
Total CNFR* reports: 0
